
/* TOP-OF-CONTACT-PAGE */


.contact{
    display: flex;
    max-width: 1140px;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto 0;
}

.contact img{
    max-width: 597px;
}


/* FORM-TO-SUBMIT */
.contact-form h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 48px;
    text-align: center;
}

.contact-form input, 
.contact-form h5{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.contact-form input, 
.contact-form textarea{
    border-bottom: 2px;
    border-top: 0 ;
    border-right: 0; 
    border-left: 0;
    border-style: solid;
    border-color: #c0c0c0;
    padding: 10px 12px;
    width: 413px;
}

.checkbox{
    display: flex;
    border: none;
}

.checkbox input{
    width: 13px;
    margin-right: 5px;
}

.checkbox h5{
    margin: 10px 0;
}

.checkbox a{
    text-decoration: none;
    color: #478ac9;
}

.contact-form input:last-child{
    background-color: #e11f28;
    text-transform: uppercase;
    border-style: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: white;
    letter-spacing: 2px;
    width: 413px;
    height: 66px;
    border-radius: 5px;
    transition: all .15s;
    margin-top: 20px;
}

.contact-form input:last-child:hover{
    background-color: black;
    
}


/* /FORM-TO-SUBMIT */

/* /TOP-OF-CONTACT-PAGE */

/* DOWN-OF-CONTAINER-ITEM */
.down-item{
    display: flex;
    max-width: 1140px;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto;
}

.container{
    color: #ffffff;
    background-color: #e11f28;
    width: 366.6px;
    height: 177.12px;
    padding: 40px 30px;
    box-sizing: border-box;
    text-align: left;
    word-wrap: break-word;
   
}

.container img{
    width: 20px;
}

.container h5{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}
.container p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 20px 0 0;
    line-height: 1.6;
}

/* /DOWN-OF-CONTAINER-ITEM */


/* MEDIA-CALL */
@media screen and (max-width:1120px) {
    .container{
        width: 300px;
    }
}

@media screen and (max-width:1055px) {
    .contact img{
        max-width: 500px;
    }

    .contact-form h3{
        margin: 0;
    }

    .contact-form h5{
        margin: 20px 0 0;
    }

    .checkbox h5{
        margin: 10px 0;
    }
}

@media screen and (max-width:960px){
    .contact{
        display: flex;
        flex-direction: column;
    }
    
    .down-item{
        display: flex;
        flex-direction: column;
    }

    .container{
        width: 500px;
        margin: 20px 0;
    }

   
}

@media screen and (max-width:530px){
    .contact img{
        max-width: 350px;
    }

    .container{
        width: 350px;
        margin: 20px 0;
    }

    .contact-form input,
    .contact-form textarea{
        width: 330px;
    }

    .contact-form{
        max-width: 350px;
        margin: 0 auto;
    }

    .checkbox input{
        width: 13px;
        margin-right: 5px;
    }

    .contact-form input:last-child{
        margin: 0 auto;
        width: 350px;
    }
}
/* /MEDIA-CALL */